.dropdown-menu {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 0.7rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  overflow: auto;
  padding: 0.4rem;
  position: relative;

  button {
    align-items: center;
    background-color: transparent;
    display: flex;
    gap: 0.25rem;
    text-align: left;
    width: 100%;

    &:hover,
    &:hover.is-selected {
      background-color: var(--background-highlight);
    }

    &.is-selected {
      background-color: var(--background-highlight);
    }
  }
}
